/* --------------- ESTILOS GENERALES --------------- */
a { text-decoration: none; color: inherit; }
* { font-family: MontserratAlternates-Regular; }
b { font-family: MontserratAlternates-Bold; }
.m-a-black { font-family: MontserratAlternates-Black; }
.m-a-blackItalic { font-family: MontserratAlternates-BlackItalic; }
.m-a-bold { font-family: MontserratAlternates-Bold; }
.m-a-boldItalic { font-family: MontserratAlternates-BoldItalic; }
.m-a-extraBold { font-family: MontserratAlternates-ExtraBold; }
.m-a-extraBoldItalic { font-family: MontserratAlternates-ExtraBoldItalic; }
.m-a-extraLight { font-family: MontserratAlternates-ExtraLight; }
.m-a-extraLightItalic { font-family: MontserratAlternates-ExtraLightItalic; }
.m-a-italic { font-family: MontserratAlternates-Italic; }
.m-a-light { font-family: MontserratAlternates-Light; }
.m-a-lightItalic { font-family: MontserratAlternates-LightItalic; }
.m-a-medium { font-family: MontserratAlternates-Medium; }
.m-a-mediumItalic { font-family: MontserratAlternates-MediumItalic; }
.m-a-regular { font-family: MontserratAlternates-Regular; }
.m-a-semiBold { font-family: MontserratAlternates-SemiBold; }
.m-a-semiBoldItalic { font-family: MontserratAlternates-SemiBoldItalic; }
.m-a-thin { font-family: MontserratAlternates-Thin; }
.m-a-thinItalic { font-family: MontserratAlternates-ThinItalic; }
.t01 { font-size: 01px; }
.t02 { font-size: 02px; }
.t03 { font-size: 03px; }
.t04 { font-size: 04px; }
.t05 { font-size: 05px; }
.t06 { font-size: 06px; }
.t07 { font-size: 07px; }
.t08 { font-size: 08px; }
.t09 { font-size: 09px; }
.t10 { font-size: 10px; }
.t11 { font-size: 11px; }
.t12 { font-size: 12px; }
.t13 { font-size: 13px; }
.t14 { font-size: 14px; }
.t15 { font-size: 15px; }
.t16 { font-size: 16px; }
.t17 { font-size: 17px; }
.t18 { font-size: 18px; }
.t19 { font-size: 19px; }
.t20 { font-size: 20px; }
.t21 { font-size: 21px; }
.t22 { font-size: 22px; }
.t23 { font-size: 23px; }
.t24 { font-size: 24px; }
.t25 { font-size: 25px; }
.t26 { font-size: 26px; }
.t27 { font-size: 27px; }
.t28 { font-size: 28px; }
.t29 { font-size: 29px; }
.t30 { font-size: 30px; }
.t31 { font-size: 30px; }
.t32 { font-size: 30px; }
.t33 { font-size: 30px; }
.t34 { font-size: 30px; }
.t35 { font-size: 30px; line-height: 30px; }
.t36 { font-size: 36px; }
.t37 { font-size: 37px; }
.t38 { font-size: 38px; }
.t39 { font-size: 39px; }
.t40 { font-size: 40px; }
.t41 { font-size: 41px; }
.t42 { font-size: 42px; }
.t43 { font-size: 43px; }
.t44 { font-size: 44px; }
.t45 { font-size: 45px; }
.no-padding-childs div,
.no-padding.no-padding { padding-left: 0px; padding-right: 0px; }
.box-white {border: 1px solid white;color: white;padding: 5px;display: inline-block;z-index: 2;transition: opacity .2s;}

.box-white:hover,.box-blue:hover {
    opacity: .3;
}
.box-blue {border: 1px solid rgb(40, 70, 90);color: rgb(40, 70, 90);padding: 5px;display: inline-block;transition: opacity .2s;}
.color-blue { color: rgb(40, 70, 90); }
.color-white { color: white; }

/* --------------- HEADER --------------- */
.menuInterior { float: left; width: 100%; position: fixed; background: rgba(0, 0, 0, 0.7); display: flex; align-items: center; height: 80px; color: white; z-index: 9; top: 0px; }
.menuInterior > div { float: left; }
.menuInterior > .logo-header { padding: 0px 15px; width: 100%; max-width: 180px; margin-left: 3%; }
.menuInterior > .logo-header img { width: 100%; }
.menuInterior li,
.menuInterior li a { text-decoration: none; list-style: none; color: inherit; }
.menuInterior .menu { }
ul { margin: auto !important; padding: 0px; }
.menu ul { float: right; padding-right: 15px; }
.menuInterior nav { width: 100%; margin-right: 3%; }
.menuInterior .item-menu-header {float: right;padding-left: 15px;margin-right: 15px;border-left: 1px solid;position: relative;}
.menuInterior .item-menu-header a:hover { color: rgba(211, 211, 211, 0.5); }
.menuInterior .item-menu-header a { color: white; transition: color .3s; text-decoration: none; }
.menuInterior .item-menu-header:last-child {border: none;}
.menuInterior.menu-movil #menu-header-cont { position: fixed; top: 80px; width: 100%; background: rgba(0, 0, 0, 0.7); text-align: right; padding: 10px 10px; display: none; }
.menuInterior.menu-movil #menu-header-cont div { padding: 10px 0px; border: none; border-bottom: 1px solid; width: 100%; }
.menuInterior.menu-movil #menu-header-cont div:last-child { border: none; }
.menuInterior.menu-movil .button-burger { float: right; text-align: right; width: 50%; padding-right: 22px; font-family: "Material Icons"; font-size: 30px; }
.menuInterior.menu-movil { justify-content: center; display: none; }
@media (max-width:767px) {
    .visible-xs-flex { display: flex !important; }
}

/* --------------- INDEX --------------- */
.home { float: left; position: relative; width: 100%; }

/*HOME 1*/
.home1 video { width: 100%; }
.home1 .m-a-regular { font-family: HelveticaLTStd-BoldCond; }
.home1 .input-form-home5 textarea { height: 100px; }
.home1 input,
.home1 textarea { width: 100%; height: 40px; padding: 10px; background: rgba(255, 255, 255, 0.6); border: none; color: white; }
.home1 input::placeholder,
.home1 textarea::placeholder { color: white; }
.home1 input[type=submit] { display: inline-block; width: auto; padding: 0px 20px; color: white; border: 1px solid white; background: transparent; cursor: pointer; transition: background .3s; }
.home1 input[type=submit]:hover { background: rgba(211, 211, 211, 0.4); }
.home1 .input-form-home5 { margin: 10px 0px; }
.home1 .input-form-home5:last-child { text-align: center; }
.home1 .cont1.form-home5 {padding-top: 20;padding-bottom: 0px;background: rgba(37, 37, 37, 0.6);position: absolute;top: 50%;right: 10%;transform: translateY(-50%);}

/*HOME 2*/
.home2 .imagen-auto-item-home2 { text-align: center; padding-bottom: 20px; margin: 20px 0px; position: relative; background: transparent; }
.parallaxBackground { width: 100%; height: 20%; bottom: 0px; left: 0px; background: rgb(40, 70, 90); content: ''; z-index: -1; position: absolute; }
.home2 .imagen-auto-item-home2 .imagen-home2 { width: 100%; float: left; height: 350px; z-index: 2; }
.home2 .imagen-auto-item-home2:nth-child(1) .imagen-home2 { background: url(./imagenes/fiat-argo-frente.png) no-repeat; background-size: contain; background-position: center; }
.home2 .imagen-auto-item-home2:nth-child(2) .imagen-home2 { background: url(./imagenes/toro-negro.png) no-repeat; background-size: contain; background-position: center; }
.home2 .texto2 { width: auto; padding: 5px; display: inline-block; }
.home2 .texto1 { text-align: center; padding: 40px 0px; }
.home2 { background: linear-gradient(transparent 80%, rgb(40, 70, 90) 20%); float: left; width: 100%; }

/*HOME 3*/
.home3:after {top: 0px;left: 50%;width: 20vw;height: 20vw;border-radius: 1000px;background: white;border: 6px solid rgb(40, 70, 90);transform: translate(-50%, -50%);max-width: 130px;max-height: 130px;}
.home3 .cont2 { padding-top: 30px; }
.home3 .cont2:nth-child(2) { margin-top: 50px; }
.home3 .cont2:nth-child(1) { order: 2; }
.home3 .cont1 { padding-bottom: 30px; align-items: center; display: flex; }
@media (max-width:767px) {
    .home3 .cont1 { display: block; }
}
.home3 .titulo2 { display: inline-block; padding-top: 5px; border-top: 1px solid rgb(40, 70, 90); margin-bottom: 30px; clear: both; float: left; }

/*HOME 4*/
.home4 .img-auto {height: 270px;margin-top: 20px;margin: 10px 20px 0px;transform-origin: center center 0px;transition: all .5s cubic-bezier(0.59, 0.28, 0.32, 0.83) 0s;}

.home4 .img-auto:hover {transform: scale(1.02);opacity: .8;}
.home4 .cont2 { padding-top: 30px; padding-bottom: 30px; text-align: center; }
.home4 .texto1 { }
.home4 .titulo1 { text-align: left; border-bottom: 1px solid rgb(40, 70, 90); padding-bottom: 5px; padding-right: 20px; width: fit-content; margin-left: 20px; }

/*HOME 5*/
.home5 { background: url(./imagenes/fondo-home5.jpg); min-height: 500px; display: flex; align-items: center; background-position: 90% 50%; background-size: cover; }
.home5 .m-a-regular { font-family: HelveticaLTStd-BoldCond; }
.home5 .input-form-home5 textarea { height: 100px; }
.home5 input,
.home5 textarea { width: 100%; height: 40px; padding: 10px; background: rgba(255, 255, 255, 0.6); border: none; color: white; }
.home5 input::placeholder,
.home5 textarea::placeholder { color: white; }
.home5 input[type=submit] { display: inline-block; width: auto; padding: 0px 20px; color: white; border: 1px solid white; background: transparent; cursor: pointer; transition: background .3s; }
.home5 input[type=submit]:hover { background: rgba(211, 211, 211, 0.4); }
.home5 .input-form-home5 { margin: 10px 0px; }
.home5 .input-form-home5:last-child { text-align: center; }
.home5 .cont1.form-home5 { padding-top: 20; padding-bottom: 0px; background: rgba(37, 37, 37, 0.6); }

/* --------------- FOOTER --------------- */
footer .cont1 > div { float: left; font-family: HelveticaLTStd-BoldCond; }
footer .cont1 { display: flex; align-items: center; justify-content: center; }
footer .red-social { height: 30px; width: 30px; margin-left: 10px; cursor: pointer; }
footer .red-social img { width: 100%; }
footer.footer { padding: 10px 0px; float: left; width: 100%; }

/* --------------- MODAL --------------- */
.modal-outer { position: fixed; top: 15%; width: 700px; margin-left: 50%; background: white; box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, 0.3); transform: translateX(-50%); }
.modal-close { position: absolute; bottom: 10px; right: 10px; font-family: "Material Icons"; font-size: 45px; line-height: 45px; cursor: pointer; z-index: 9; border: 3px solid; border-radius: 100px; }
.modal-car-cont .item-img-car { height: 150px; }

.modal-car-cont .item-img-car:before {
    position: absolute;
    content: 'add';
    font-family: "Material Icons";
    color: white;
    font-size: 30px;
    line-height: 30px;
    border-radius: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, .4);
}
.modal-car-cont .modal-cont2 { border-top: 12px solid #00d5a7; display: flex; flex-direction: column; padding: 20px; align-items: center; padding-bottom: 40px; }
.modal-car-cont .titulo1 { line-height: 43px; }
.modal-car-cont .texto1 { border-top: 2px solid rgb(40, 70, 90); }
.modal-car-cont .texto2 { margin-top: 15px; padding: 5px 30px; }
@media (max-width:767px) {
    .modal-outer { width: 90%; max-height: 80vh; overflow-y: scroll; text-align: center; }
    .modal-cont1 .item-img-car { height: 150px; }
    .modal-close { text-align: center; position: relative; bottom: auto; right: auto; display: inline-block; margin: 5px 0px; }
}

/* --------------- PRESUPUESTO ONLINE --------------- */
.cont-presupuesto-online { background: url("./imagenes/fondoPresupuestoOnline.jpg"); background-size: cover; background-repeat: no-repeat; color: white; text-align: center; background-position: 50%; padding-top: 70px; }
.cont-presupuesto-online * { font-family: HelveticaLTStd-BoldCond; }

.cont-presupuesto-online #divCajaAhorro {
    color: #ff3939;
    text-transform: uppercase;
    padding-top: 10px;
}
.presupuestoDiv:nth-child(2) { display: inline-block; padding: 20px 30px; background: rgba(53, 53, 53, .8); font-size: 17px; }
.presupuestoDiv:nth-child(1) { padding: 50px 0px; font-size: 35px; }
.presupuestoDiv input,
.presupuestoDiv select,
.presupuestoDiv button {width: 100%;color: white;background: rgb(140, 140, 140);height: 40px;}
.presupuestoDiv input[type=submit],
.presupuestoDiv button { text-transform: uppercase; border: 0px; border-radius: 5px; height: 50px; width: auto; padding: 0px 20px; transition: all .5s; cursor: pointer; }
.presupuestoDiv input[type=submit]:hover,
.presupuestoDiv button:hover { opacity: .7; }
.presupuestoDiv label,
.presupuestoDiv .inputCajaAhorro {text-align: left;display: block;margin: 5px 0px;}
.presupuestoDiv .formPromociones,
.presupuestoDiv .titulo-obtene-descuentos { font-size: 28px; padding: 10px 0px 0px; text-transform: capitalize; text-align: center; }


div#modalContacto {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    background: white;
    border: 1px solid;
    text-align: center;
    font-size: 18px;
    display: none;
    padding-top: 50px;
    box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, .6);
    z-index: 9;
<<<<<<< HEAD
}

.flotante {
    position: absolute;
    right: 0px;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.flotante > div {
    margin-bottom: 5px;
}

.flotante > div:nth-child(2) {
    margin-bottom: 20px;
}

.boton-presupuesto-online {
    background: #29465a;
    color: white;
    padding: 10px 15px;
    border-radius: 10px 0px 0px 10px;
    line-height: 15px;
    writing-mode: vertical-rl;
    font-family: arial;
    letter-spacing: 2px;
    border: 1px solid white;
    cursor: pointer;
    transition: opacity .2s;
    opacity: .85;
}

.boton-presupuesto-online:hover {
    opacity: 1;
}

.boton-presupuesto-online.boton-presupuesto-online a {
    color: inherit;
    text-decoration: none;
}

ul.modelos-listado {
    position: absolute;
    background: black;
    padding: 0px 15px;
    left: 0px;
    width: 180px;
    height: 0px;
    overflow: hidden;
    transition: all .3s;
    top: 21px;
}

ul.modelos-listado > li {
    cursor: pointer;
    padding: 5px 0px;
    transition: all .2s;
}

ul.modelos-listado > li:first-child {
    padding-top: 15px;
}

ul.modelos-listado > li:hover {
    opacity: .6;
}

div#modelos:hover > ul {
    height: 290px;
}

@media (max-width:767px) {
    div#modelos:hover > ul {
        width: 100vw;
        left: 5px;
        top: 45px;
        padding-right: 22px;
    }

    .firmaDiseno {
        width: 90%;
        float: left;
    }

    .divDiseno {
        flex-direction: column;
    }
}

.bottomDivPubli .divDiseno {
    display: flex;
    justify-content: center;
}

.imagenFirmaDiezWeb,.textoFirmaDiezWeb {
    float: left;
}

.imagenFirmaDiezWeb {
    margin-right: 10px;
    width: 100px;
}

.imagenFirmaDiezWeb img {
    float: left;
    padding: 6px 15px 0px;
    width: 100%;
}

.textoFirmaDiezWeb b {
    font-size: 10px !important;
    color: black;
    font-family: arial;
}

.firmaDiseno {
    width: 400;
    float: left;
}

.firmaDiseno img {
    width: 100%;
}

.firmaDiezWeb {
    padding-top: 10px;
=======
>>>>>>> d480d5ce73eafe42c886e81c895b8c21e3d1c487
}